html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: rgb(247, 206, 39);
}

.navbar {
    background-color: orange !important;
}
.nav-link.active,
.nav-link:hover {
    color: #000000 !important; /* Mengubah warna teks saat dihover */
}

.nav-link {
    color: white !important; /* Mengubah warna teks di navbar menjadi putih */
}


.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
}

.kartu {
    width: 80%;
    max-width: 800px;
    background-color: rgb(247, 206, 39);
    margin: 20px 0;
    padding: 20px;
    border-radius: 0px;
    display: flex;
    align-items: center;
}

.kotak {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-right: 20px;
    background-size: cover;
    background-position: center;
}
  
.kotak1 {
    background-image: url('foto1.jpeg');
}
  
.kotak2 {
    background-image: url('foto2.jpg');
}
  
.kotak3 {
    background-image: url('foto3.jpeg');
}

.text-content {
    display: flex;
    flex-direction: column;
}

.kartu h2 {
    color: #fff;
    margin: 0 0 10px 0;
}

.kartu p {
    color: #fff;
    font-size: 14px;
    margin: 0 0 20px 0;
}

.detail-btn {
    
        padding: 10px 20px;
        background-color: #fff;
        color: #000;
        border: none;
        border-radius: 20px;
        cursor: pointer;
        align-self: flex-start;
        box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.3);
        font-weight: bold; /* Menjadikan teks "Detail" menjadi bold */
    
    
}
.text-content h2 {
    color: #000; /* Ubah warna teks menjadi hitam */
    font-weight: bold; /* Membuat teks menjadi bold */
}

.text-content p {
    color: #000; /* Ubah warna teks menjadi hitam */
}
